image: registry.cern.ch/docker.io/library/python:3.12

before_script:
  - python -V

stages:
  - test

unit_test:
  stage: test
  script:
    - python -m venv .venv
    - . .venv/bin/activate
    - pip install --upgrade pip
    - pip install -e ".[test]"
    - pytest tests -m "not integration and not performance" --cov=hflav_fair_client --cov-report=term-missing --cov-report=xml:coverage.xml -v
  coverage: '/TOTAL.*\s+([0-9]{1,3}%)/'
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
    when: always

integration:
  stage: test
  script:
    - python -m venv .venv
    - . .venv/bin/activate
    - pip install --upgrade pip
    - pip install ".[test]"
    - pytest tests -m "integration" -v
  allow_failure: true

performance:
  stage: test
  script:
    - python -m venv .venv
    - . .venv/bin/activate
    - pip install --upgrade pip
    - pip install ".[test]"
    - pytest tests -m "performance" -v
  allow_failure: true
